<h1>Shopping Cart</h1>
<form action="/checkout" method="POST">
  <label for="item"> Shopping Cart: </label>
  <input type="text" id="cart[:item]" name="cart[:item]"></input>
  <input type="submit" id="submit" value="Submit">
</form>
